@import url('https://fonts.googleapis.com/css?family=Raleway:400,900,900i');

#bod {
    background-color: black;
    font-family: 'Raleway';
    color: black;
}

#title {
    background-image: url("../images/TitlePhoto.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-size: 1000%;
    font-weight: 900;
    padding-left: 45px;
}

#questions {
    text-align: center;
    background-color: white;
    height: 100%;
}

#marg1 {
    background: linear-gradient(to right, #000000 0%, #ffffff 100%);
    height: 100%;
}

#marg2 {
    background: linear-gradient(to right, #ffffff 0%, #000000 100%);
    height: 100%;
}

.break {
    height: 0px;
    visibility: hidden;
    margin-bottom: -90px;
}

#resBod {
    background-image: url("../images/ResultBackground.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    font-family: 'Raleway';
    font-size: 150%;
}

#resTitle {
    text-align: center;
}

#resPic {
    float: right;
    margin-right: 100px;
    margin-top: -45px;
    width: 550px;
}

#routine {
    padding-left: 220px;
}

#rounds {
    padding-left: 120px;
}