<html>
    <head>
        <h1>
            clam engaged you in a battle
        </h1>
    </head>
     <input type="radio" name="winorlose" value ="lobsterpoliticswin">fight<br>
            <input type="radio" name="winorlose" value ="lose">run<br>
            <form method= "post" action="/finalpage">
                <input type="submit" value = "next!">

    <body>
        
    </body>
</html>