<html>
    <head>
        <link rel="stylesheet" href="css/style.css"> 
    </head>
    <body>
        <h1>Here's your fortune:</h1>
        <h3>
            <%= @fortune %>
        </h3>
    </body>
    
</html>