<form action="/physical" method="post">
<button type="submit" class="new"><a href="/physical">Physical</a></button>
</form>
<form action="/mental" method="post">
<button type="submit" class="new"><a href="/mental">Mental</button>
</form>
<style>
.new {
    background-color: white;
    color: #DDA0DD;
    padding: 15px  32px;
    font-size:24px;
    font-family: fantasy;
    border: 5px solid #DDA0DD;
  }
</style>