<htmL>
    <head>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="title">
            <h1>GRINDIN FOR GAINS</h1>
        </div>
        <div class="questions">
            <form method= "post" action="/results">
                <h3>Choose your intensity:</h3>
                <input type="radio" name="intensity" value ="easy">Easy<br>
                <input type="radio" name="intensity" value ="medium">Medium<br>
                <input type="radio" name="intensity" value ="hard">Hard<br>
                <h3>Choose the length of your workout:</h3>
                <input type="radio" name="length" value ="ten">10 Minutes<br>
                <input type="radio" name="length" value ="thirty">30 Minutes<br>
                <input type="radio" name="length" value ="sixty">60 minutes<br>
                <h3> What kind of workout would you like:</h3>
                <input type="radio" name="type" value ="cardio">Cardio<br>
                <input type="radio" name="type" value ="strength">Strength<br>
                <h3> Where are you?</h3>
                <input type="radio" name="location" value ="indoors">Indoors<br>
                <input type="radio" name="location" value ="outdoors">Outdoors<br>
                <h3>What equipment do you have?</h3>
                <input type="radio" name="topic" value ="none">None<br>
                <input type="radio" name="topic" value ="dumbells">Dumbells<br>
                <input type="radio" name="topic" value ="bands">Bands<br>
                <input type ="radio" name="topic' value="bands and dumbells">Dumbells and Bands<br> 
                <input type="submit" value = "Find Your Workout!">
            </form>
        </div>
    </body>
</htmL>

