<!DOCTYPE html>
<html>
  
  <head>
    <title>Name Heat Effects</title>
  </head>
  
  <body>
    <h1>Name Heat Effects</h1>
    
    <form action="/whofor" method="post">
      
      <h3>Are you taking this for yourself or someone else?</h3>
      <input type="radio" name="person" value="20">Myself
      <input type="radio" name="person" value="5">Someone Else
      
      <button type="submit" class="new">Submit</button>
      
    </form>
  </body>
  
</html>
