<!DOCTYPE html>
<html>
  
  <head>
    <title>Meditation Quiz</title>
  </head>
  
  <body>
    <h1>Meditation Quiz</h1>
    
    <form action="/results" method="post">
      
      <h2>Would you want to use an app or online video as a resource to help you meditate? </h2>
      <input type="radio" name="Appvid" value="10">App 
      <input type="radio" name="Appvid" value="100">Online Video

      <h2>Would you prefer a male or female instructor?</h2>
      <input type="radio" name="Gender" value="2">Male
      <input type="radio" name="Gender" value="5">Female
      
      <h2>Do you want guided or non-guided lessons?</h2>
      <input type="radio" name="Lesson" value="10">Guided
      <input type="radio" name="Lesson" value="1">Non-guided
      
    

      <button type="submit" class="new">See your personalized meditation plan here!</button>
      
    </form>
  </body>
  
</html>