 <html>
   <head>
        <link rel="stylesheet" href="css/lobster.css">
        
  </head>
  
   <body>
        <img src="images/dancing-lobster.gif">
        <h1> WELCOME! </h1>
        <h2> LOBSTER QUEST</h2>
        <h3> BACKSTORY </h3>
              <p>
              This was a story of Larry the lobster. Living in the depths of the ocean, Larry and his parents happily rested on the ocean floor. However, Larry was always lonely and depressed that he didn't have a brother or sister to play with.
              One day, as the lobsters were relaxing in the sand, Larry's parents were violently snatched up in a lobster trap. Feeling crushed, Larry decided to go into the lobster trap and save them. Despite his great efforts to save his parents, he found them to be lifeless and dead. Exausted and weeping, he sat in the cage as it was raised to the ocean's surface.
              Suddenly, Larry woke in midsts of the kitchen. Dead lobsters surrounded him; he was the only one alive. Larry climbed out of the lobster trap, tears streaming down his face. Now he was destined to continue his life for his dead parents. The only way to do this was to escape the kithchen and take revenge on the cook who killed his parents and captured him.
              It is now your job to help Larry fufill his dream...
             </p>
        <div>
            <input id="button" type="submit" value="PLAY!">
        </div>
        <img img="img1" src="images/slack-imgs.gif"> 
        <img img="img2" src="images/slack-imgs.gif">
   </body>
</html>


<!--- Larry always wanted a brother-->
<!--- Larry's parents were taken one day in a lobster trap-->
<!--- decides to go in lobster trap --> 
<!--- when he gets there --> 
<!--- tries to get vengance-->
<!--- wreck/sabotage kitchen-->
<!--- and escape kitchen-->

<!--- WIN END-->
<!--- parents thought that another lobster was their son --> 
<!--- Larry finds out that he is still alive --> 
<!--- fake son and larry becomes friends/bros-->

<!--- LOSE END-->
<!--- faints in kitchen-->
<!--- is eaten-->


