<!DOCTYPE html>
<html>
  
  <head>
    <title>Calma Koala Heat Effects</title>
  </head>
  
  <body>
    <h1>Calma Koala</h1>
    <h2>Heat Effects Quiz</h2>
    <p>It might be hot outside, but that certainly doesn't stop us from doing things outside! This quiz is designed to help you learn about heat stroke and heat exhaustion and determine if you or a friend have either. If you're feeling a little unwell or want to learn about heat effects, take the quiz!</p>
    
    <form action="/whofor" method="post">
      
      <h3>Are you taking this for yourself or someone else?</h3>
      <input type="radio" name="person" value="20"><h4>Myself</h4>
      <input type="radio" name="person" value="5"><h4>Someone Else</h4>
      
      <button type="submit" class="new">Submit</button>
      
    </form>
  </body>
  
</html>
<style>
  body {
    background-color: #E5F2FF
  }
  .new {
    background-color: white;
    color: #DDA0DD;
    padding: 15px  32px;
    font-size:24px;
    font-family: fantasy;
    border: 5px solid #DDA0DD;
  }
  h1 {
    text-align: center;
    color: #DDA0DD;
    font-family: fantasy;
    font-size: 60px;
  }
  h2 { 
    font-family: american typewriter;
    color: #DAA520;
  }
  h3 {
    color: #DAA520;
    font-family: american typewriter;
  }
  h4 {
    color: #DAA520;
    font-family: american typewriter;
  }
  p {
    color: #DAA520;
    font-family: american typewriter;
  }
</style>