<html>
  <head>
   <body>
      <div id="grad1">
        <center>
     <h1> Why is Meditation Important? </h1>
        
    <p> Meditation helps relieve stress, making you more focused and more aware. It can also slow your aging process since it helps balance the body's system. Meditation can also greatly improve your mood and make you a generally happier person. </p>
     <br>
     <br>
       <h3> How to Effectively Meditate </h3>
  
       <il> Sit or lie down in a comfortable spot. </il>
       <br>
       <il> Close your eyes and breathe normally. </il>
       <br>
       <il>Take care to feel how your body moves with each breath. Be aware of how your ribs, chest and stomach. </il>
       <br>
       <il> Clear your mind and try to stay focused on your breathing. </il>
       
       <h3>Breathing Exercises</h3>
  
         <il> Nadi Shodhana (Alternate Nostril Breathing): Release fatigue and tension with this calming breath. Take the thumb of the right finger and close off the right nostril. Inhale deeply and slowly through the left nostril. Use the right pinkie finger to close off the left nostril and exhale slowly through the right nostril. Continue this alternate breathing for a minimum of three minutes, maximum 31 minutes. Also a great option to do right before bed to calm a busy mind.</il>
         <br>
         <br>
         <il> Sitali Pranayam (The Cooling Breath): The act of drawing the air across the tongue and into the mouth is said to have a cooling and calming effect on the nervous system. Roll the tongue into a “U”shape with the tip just outside the lips. Inhale slow and steady through the U shaped tongue filling the diaphragm. Exhale through the nose. Continue for three minutes. If this is too difficult, you can also try Sitkari Pranayama which has the same effect. Open the mouth slightly with your tongue just behind the teeth. Inhale slowly through the space between the upper and lower teeth, letting the air come in over your tongue as you lift your chin up toward the sky. At the end of the inhalation, close the mouth and exhale through the nostrils as you slowly lower your chin back to neutral. Repeat for 8 to 12 breaths. Both Sitali and Sitkari Pranayama are a particularly good way to wake up if you feel tired in the morning or even during an afternoon slump when you want to improve your focus. </il>
         <br>
         <br>
         <il> One Minute Breath: This exercise soothes fear and is said to help cognition. 20 seconds to inhale, 20 seconds to hold breath, 20 seconds to exhale. To start, inhale slowly, filling the lower abdomen, stomach area, lungs and then finally, the chest. Hold the breath in for 20 seconds and then slowly exhale for 20 seconds. Work your way up to 20-20-20. Continue for a minimum of three minutes. </il>
         <br>
         <br>
         <il> Breath of Fire: Rapid breath of fire is enlivening and cardiovascular; it improves the strength of the lungs, heats the body, and promotes quick energy. Begin in a comfortable seat and sit up tall. Keep the mouth closed through this breathing exercise. Relax the muscles of the stomach.Take a deep inhale through the nose and exhale through the nose. Begin to breath rapidly through the nose and pump the naval point in and out with each breath. Maintain an equal emphasis on the exhalation and inhalation. The breath should be shallow so it can be quick. </il>
        <br>
         <br>
         <il> Box Breath: This exercise is very similar to the One Minute Breath. Keep your mouth closed throughout this breathing exercise. Relax the muscles of the stomach. 4 seconds to inhale, 4 seconds to hold breath, 4 seconds to exhale, 4 seconds to hold breath. To start, inhale for 4 seconds, filling the lower abdomen, stomach area, lungs and then finally, the chest. Hold the breath in for 4 seconds, slowly exhale for 4 seconds, and then hold for 4 seconds. Continue in that order for a minimum of three minutes. </il>
      
</div>
       </body>
     </head>
       </html>

 <style>
   h1 {
  font-family: fantasy

}

h1 {
    color: #DDA0DD;
  font-size: 60px;
}

h3 {
  font-family: American Typewriter
}

h3{
  color: #DAA520;
}

p{
  font-family: American Typewriter
}
p{
  color: #DAA520;
}
il {
  font-family: American Typewriter
}

il {
  color: #DAA520;
}

#grad1 {
   height: 100%;
/*    background: blue; */
 background: linear-gradient(#e5ecff,	#f9e5ff,#f9e5ff, #ffffff);
  background-repeat: repeat-x;
}
  </style>
