<html>
  <head>
    <body>
      <center>
        <div id="grad1">
      <h1> Anxiety Attacks </h1>
      <h3> What are Anxiety Attacks?</h3>
      <p> Anxiety attacks (also known as panic attacks) are intense periods of fear or feelings of doom developing over a very short time frame -up to 10 minutes- and associated with symptoms including sweating, trembling, shortness of breath, chest pain, nausea, dizziness, derealization, fear of dying, and numbness. </p>
      <br>
      <h3> Treatments </h3>
      <p> There are a variety of treatments that can help you control your anxiety. It's all about finding the one that fits you the best! </p>
      <ul>
        <il> Counselling: talking to a therapist </il>
        <br>
        <il> Yoga/meditation </il>
        <br>
        <il> Exercise can help you calm your mind. Some examples include rolling your shoulders, going for a run/bike ride and talking a walk.
</il>
        <br>
        <il> Getting back to a calmer state of mind by telling yourself to take a step back, and that you don’t have to do “this”. Be sure to ‘turn the volume down’ to give yourself peace of mind. </il>
        </div>
        <br>
      <center>
    <img src="http://www.stickpng.com/assets/images/59cfce4ad3b1936210a5ddf4.png"; >
    </center>
        </body>
      </head>
    </html>
        
<style>
  h1 {
  font-family: fantasy

}

h1 {
    color: #DDA0DD;
 
}
h1 {
  font-size: 60px;
}

h3 {
  font-family: American Typewriter
}

h3{
  color: #DAA520;
}

p{
  font-family: American Typewriter
}

p{
  color: #DAA520;
}

il{
  font-family: American Typewriter;
  color: #DAA520;
}
#grad1 {
   height: 100%;
/*    background: blue; */
   background: linear-gradient(#ffff80,#ffffcc,#ffffe6);
    </style>
        