<html>
  <head>
    <body>
      <center>
      <div id="grad1"> 
      <h1> How to Deal with the Loss of a Loved One </h1>
      <p> Losing a loved one is never an easy thing to deal with. Here are some tips to help.
      <h3> Accepting Your Emotions </h3>
      <p> Moving on from the loss of a loved one takes time. Don’t feel bad feel about your emotions, rather accept them. Accepting your feelings and understanding why you feel the way you do will help you get through emotional times. </p>
      <br>
      <h3> Self Care </h3>
      <p> Take care of yourself and your family. Eating well, exercising and getting plenty of rest help us get through each day and move forward. </p>
      <br>
      <h3> Reach out and help others dealing with their loss </h3>
      <p> Helping others can be therapeutic, and help you deal with your loss as well. Sharing stories of the deceased is also a good way to cope with the loss.</p>
      <br>
      <h3> Celebrate the lives of your loved ones </h3>
      <p> This is one is more up to interpretation. Some ideas include donating to their favorite charity, or putting up a picture of them. Any way that honors your relationship with them is a good way to remember them. </p>
      </div>
      <br>
      <center>
    <img src="http://www.stickpng.com/assets/images/59cfce4ad3b1936210a5ddf4.png"; >
    </center>
      
    </head>
    </body>
  
</html>
<style>
  h1 {
  font-family: fantasy

}

h1 {
    color: #DDA0DD;
  font-size: 60px;
}

h3 {
  font-family: American Typewriter
}

h3{
  color: #DAA520;
}

p{
  font-family: American Typewriter
}

p{
  color: #DAA520;
}

#grad1 {
   height: 100%;
/*    background: blue; */
   background: linear-gradient(#90d8ff,#d7f4ff,#e5f2ff);
  background-repeat: repeat-x;
}
  </style>