<!DOCTYPE html>
<html>
  
  <head>
    <title>Heat Effects On Someone Else</title>
  </head>
  
  <body>
    <h1>Heat Effects Quiz</h1>
    
    <form action="/theirresults" method="post">
      
      <h3>Are they tired, and/or do they have a headache?</h3>
      <input type="radio" name="headache" value="10">Yes
      <input type="radio" name="headache" value="1">No

      <h3>Are they thirsty?</h3>
      <input type="radio" name="thirsty" value="10">Yes
      <input type="radio" name="thirsty" value="1">No

      <h3>Do they have muscle weakness and cramps?</h3>
      <input type="radio" name="muscles" value="10">Yes
      <input type="radio" name="muscles" value="25">No

      <h3>Are they sweating a lot or a little?</h3>
      <input type="radio" name="sweat" value="10">A lot
      <input type="radio" name="sweat" value="25">A little
      <input type="radio" name="sweat" value="1">It's normal

      <h3>Do they have shortness of breath?</h3>
      <input type="radio" name="breath" value="25">Yes
      <input type="radio" name="breath" value="1">No

      <h3>Is their heartbeat unusually slow or rapid?</h3>
      <input type="radio" name="heart" value="10">Slow
      <input type="radio" name="heart" value="25">Rapid
      <input type="radio" name="heart" value="1">It's normal

      <h3>Are they confused or dizzy?</h3>
      <input type="radio" name="dizzy" value="10">Yes
      <input type="radio" name="dizzy" value="1">No
      
      <button type="submit" class="new">Submit</button>
      
    </form>
  </body>
  
</html>