<!DOCTYPE html>
<html> 
<head> 
<title>Meditation Videos</title>
<body> 
<h1>Calma Koala</h1>
<h2>YAY! Time to relax! Use the following links to view videos to help aid in your relaxation!!</h2>
<br>
<p>Video 1!</p>
<button class="button"> <a href="https://www.youtube.com/watch?v=dEzbdLn2bJc">Video #1</a> </button>
<p>Video 2!</p>
<button class="button"> <a href="https://www.youtube.com/watch?v=dE_XVl7fwBQ">Video #2</a> </button>

</body>
</head>
</html>
<style>
.button {
    background-color: white;
    color: #DDA0DD;
    padding: 15px  32px;
    font-size:24px;
    font-family: fantasy;
    border: 5px solid #DDA0DD;
  }
 body {
    background-color: #E5F2FF
  }
h1 {
    text-align: center;
    color: #DDA0DD;
    font-family: fantasy;
    font-size: 60px
  }
  h2 {
    color: #DAA520;
    font-family: american typewriter;
    text-align: center;
  }
  p {
    color: #DAA520;
    font-family: american typewriter;
    text-align: center;
    font-size: 18px;
  }
</style>