<!DOCTYPE html>
<html> 
<head> 
<title>APP</title>
<body> 
<h1>YAY! Time to relax! Use the following links to view videos to help aid in your relaxation!!</h1>
<h2>Video 1!</h2>
<button class="button"> <a href="https://www.youtube.com/watch?v=dEzbdLn2bJc">Video #1</a> </button>
<h2>Video 2!</h2>
<button class="button"> <a href="https://www.youtube.com/watch?v=dE_XVl7fwBQ">Video #2</a> </button>

</body>
</head>
</html>