<!DOCTYPE html>
<html> 
<head> 
<title>Meditation Apps</title>
<body> 
<h1>Calma Koala Quiz Results</h1>
<h2>YAY! Time to relax!
<p>Use the following link to view a video to help aid in your relaxation!!</p>
<br>
<p>Video 3!</p>
<button class="button"> <a href="https://www.youtube.com/watch?v=acIpsyTW6SI">Video #3</a> </button>
</body>
</head>
</html>
<style>
.button {
    background-color: white;
    color: #DDA0DD;
    padding: 15px  32px;
    font-size:24px;
    font-family: fantasy;
    border: 5px solid #DDA0DD;
  }
 body {
    background-color: #E5F2FF
  }
h1 {
    text-align: center;
    color: #DDA0DD;
    font-family: fantasy;
    font-size: 60px
  }
  h2 {
    color: #DAA520;
    font-family: american typewriter;
    text-align: center;
  }
  p {
    color: #DAA520;
    font-family: american typewriter;
    text-align: center;
    font-size: 18px;
  }
</style>