<html>
    <head>
        
    </head>
    <body>
        <p>hello</p>
        <input type="radio" name="winorlose" value ="lobsterpoliticswin">win<br>
            <input type="radio" name="winorlose" value ="lose">die a horrible death<br>
            <form method= "post" action="/finalpage">
                <input type="submit" value = "next!">

    </body>
</html>