<html>
  <head>
  <body>
      <center>
         <div id="grad1">
         <br> 
    <h1> For All Burns: </h1>
    <h3> Cool the Burn </h3>
       <p> Hold burned skin under cool (not cold) running water or immerse in cool water until pain subsides. Use compresses if running water isn’t available.</p>
           <br>
  <h3> Protect the Burn </h3>
      <p> Cover with sterile, non-adhesive bandage or clean cloth. </p>
      <br>
<h3> Treat the Pain </h3>
  <p> Give over the counter pain relievers such as ibuprofen (Advil, Motrin), acetaminophen (Tylenol) or naproxen (Aleve) </p>
  
  <p> Note: Seek medical help if you see signs of infection (increased pain, redness, swelling, fever or oozing), the pain worsens, or if redness and pain last more than a few hours. </p>
        </div>
        <br>
      <center>
    <img src="http://www.stickpng.com/assets/images/59cfce4ad3b1936210a5ddf4.png"; >
    </center>
        </body>
  </head>
    </html>
<style>
  h1 {
  font-family: fantasy

}

h1 {
    color: #DDA0DD;
Font-size: 60px;
}

h3 {
  font-family: American Typewriter
}

h3{
  color: #DAA520;
}

p{
  font-family: American Typewriter
}

p{
  color: #DAA520;
}
html, body{margin:0; padding:0;}


#grad1{
   height:100%;
  width:100%;
/*    background: blue; */
   background: linear-gradient( #80ffbd
,#b3ffd7,#e6fff2);
  </style>