<html>
  <head>
    <body>
      <center>
        <div id="grad1">
          <h1> How to Treat Sprained/Strained Injuries
      <h3> Use the RICE Method! </h3>
      <ol>
        <il> REST: rest as much as possible for the first 2 days. This can help prevent further bruising. </il>
        <br> 
        <br>
        <il> ICE: apply an ice pack (covered with a light, absorbent towel to help prevent frostbite) for 10 minutes, then remove for 10 minutes. Repeat this as often as possible for the first 24 to 48 hours after your injury. If you don’t have an ice pack, a bag of frozen vegetables will work fine. </il>
        <br>
        <br>
        <il> COMPRESSION: Wrap the affected area with an elastic medical bandage (like an ACE bandage). You want it to be snug but not too tight. If the skin below the wrap turns blue or feels cold, numb, or tingly, loosen the bandage. </il>
        <br>
        <br>
        <il> ELEVATION: Raise the sore body part above the level of your heart. Doing so reduces pain, throbbing, and any internal bleeding that can lead to bruises. </il>
      </ol>
        </div>
    </body>
  </head>
</html>
        
<style>
  h1 {
  font-family: fantasy

}

h1 {
    color: #DDA0DD;
Font-size: 60px;
}

h3 {
  font-family: American Typewriter
}

h3{
  color: #DAA520;
}
il {
  font-family: American Typewriter
}
il {
  color: #DAA520;
}
#grad1 {
   height: 100%;
/*    background: blue; */
   background: linear-gradient(#e6e6ff,#d7f4ff,#e5f2ff);
    </style>
