<!DOCTYPE html>

<html>
  <head>
    <title>Calma Koala Physical</title>
  </head>
  
  <body>
    <h1>Calma Koala Physical Awareness</h1>
    <center>
    <img src="https://webiconspng.com/wp-content/uploads/2017/09/Koala-PNG-Image-23242.png"; >
    </center>
    <br>
    <p>Welcome to Calma Koala's Physical Awareness page! Click the heat effects quiz button below to find information on heat exhaustion vs heat stroke, and click on our articles to learn about different physical health topics.</p>
    <style>
      #grad1 {
   height: 100%;
   background: blue;
   background: linear-gradient(#a0d2ff,#d7f4ff,#e5f2ff);
}
    </style>
  <br>
<center>
  <form action="/heatquiz" method="post">
  <button type="submit" class="new"><a href="/heatquiz">Heat Effects Quiz</a></button>
  </form>
 <br>
  <form action="/physical1" method="post">
  <button type="submit" class="new"><a href="/physical1">Physical Topic: Sprains and Strains</a></button>
  </form>
<br>
  <form action="/physical2" method="post">
  <button type="submit" class="new"><a href="/physical2">Physical Topic: All Burns</a></button>
  </form>
<br>
  <form action="/physical3" method="post">
  <button type="submit" class="new"><a href="/physical3">Physical Topic: Heimlich Maneuver</a></button>
  </form>
</center>
  
  </body>
</html>
    
<style>
.new {
    background-color: white;
    color: #DDA0DD;
    padding: 25px  41px;
    font-size:30px;
    font-family: fantasy;
    border: 5px solid #DDA0DD;
    color: #DDA0DD;
  }
  a {
    color: #DDA0DD;
  }
  body {
    background-color: #E5F2FF
  }
  h1 {
    text-align: center;
    color: #DDA0DD;
    font-family: fantasy;
    font-size: 60px
  }
  p {
    color: #DAA520;
    font-family: american typewriter;
    text-align: center;
    font-size: 22px;
  }
</style>