<html> 
  <head> 
    <body>
      <center>
        <div id="grad1"> 
    <h1> Heimlich Maneuver</h1>
    <h3> Basic Information</h3>
    <p> The heimlich maneuver, or abdominal thrusts, raise the diaphragm and expel air from the lungs to get rid of the obstruction.
If someone has their hands over their throat and seems to be struggling for breath, they are probably choking. </p>
    <h3> Steps for Administering the Heimlich Maneuver</h3>
    <ol> 
      <il> Get the person to stand up</il>
      <br>
      <il> Position yourself behind the person.
      </il>
      <br>
      <il> Lean the person forward and give five blows to their back with the heel of your hand. </il>
      <br>
      <il> Place your arms around their waist</il>
      <br>
      <il> Make a fist and place it just above the navel, thumb side in</il>
      <br>
      <il> Grab the fist with your other hand and push it inward and upward at the same time. Perform five of these abdominal thrusts
 </il>
      <br>
      <il> Repeat until the object is expelled and the person can breathe or cough on their own</il>
    </ol>

    <h3> Heimlich Maneuver Tutorial</h3>
    
    <a
             href= "https://www.youtube.com/watch?v=7CgtIgSyAiU">Heimlich Maneuver Tutorial </a>
        </div>
        <br>
      <center>
    <img src="https://webiconspng.com/wp-content/uploads/2017/09/Koala-PNG-Image-21854.png"; >
    </center>
    </body>
  </head>
    </html>
 
 <style>
   h1 {
  font-family: fantasy

}

h1 {
    color: #DDA0DD;
Font-size: 60px;
}

h3 {
  font-family: American Typewriter
}

h3{
  color: #DAA520;
}

p{
  font-family: American Typewriter
}

p{
  color: #DAA520;
}
il{
  font-family:American Typewriter
}
il{
  color:#DAA520;
}
#grad1 {
   height: 100%;
/*    background: blue; */
   background: linear-gradient(#ffffff, #d7f4ff,#ecc6d9);
  </style>