<html>
    <head>
       <link rel="stylesheet" href="css/style.css">        
    </head>
        <body>
            <h1>Workout Overview</h1>
            <h3><%= @workout.rounds %></h3>
            <ul>
                <% @workout.wod %>
                <% @workout.wod.each do |rep| %>
                <li><%= rep + "<br>" %></li>
                <% end %>
            </ul>
        </body>
</html>