<!DOCTYPE HTML>

<html>
  <head>
    <title>Heat Effects Results</title>
  </head>
  
  <body>
    <h1>Heat Effects Results</h1>
    <h3>It looks like you may have heat exhaustion.</h3>
    <p>Based on the program's tabulatuons, it seems like you might have heat exhaustion. Symptoms of heat exhaustion include: cool, moist skin with goose bumps when in the heat, heavy sweating, faintness and dizziness, fatigue, weak, rapid pulse, low blood pressure upon standing, muscle cramps, nausea, and headache. You should stop phyiscal activity, drink water or a sports drink, and get to a cool place. Be sure to contact your doctor if symptoms persist after an hour. If you become unable to drink or agitated, seek medical attention.</p>
    <br>
    <p>Click below to visit the Mayo Clinic for more info. As always, if they're unsure or they're feeling badly, talk to a medical professional.</p>
    <button class="button"> <a href="https://www.mayoclinic.org/diseases-conditions/heat-exhaustion/symptoms-causes/syc-20373250">MAYO CLINIC</a> </button>
    <br>
    <br>
    <br>
    <p>We are not medical professionials, seek medical attention if you need it and listen to your doctor!</p>
  </body>
</html>
<style>
  .button {
    background-color: white;
    color: #DDA0DD;
    padding: 15px  32px;
    font-size:24px;
    font-family: Serif;
    border: 5px solid #DDA0DD;
  }
   body {
    background-color: #E5F2FF
  }
  h1 {
    color: #DDA0DD;
    font-family: fantasy
  }
  h3 {
    color: #DAA520;
    font-family: american typewriter;
  }
  p {
    color: #DAA520;
    font-family: american typewriter;
  }
</style>