<!DOCTYPE HTML>

<html>
  <head>
    <title>Healthy Results</title>
  </head>
  
  <body>
    <h1>Heat Effects Results</h1>
    <h3>It looks like you're healthy!</h3>
    <p>Based on the program's tabulatuons, it seems like you don't have any major negative health effects from the heat currently, however, if you're feeling unwell, get to some A/C and drink some water!</p>
  </body>
</html>