<!DOCTYPE HTML>

<html>
  <head>
    <title>Heat Effects Results</title>
  </head>
  
  <body>
    <h1>Heat Effects Results</h1>
    <h3>It looks like you may have heatstroke.</h3>
    <p>Based on the program's tabulatuons, it seems like you might have heatstroke. Symptoms of heatstroke include: high body temperature, altered mental state or behavior, alteration in sweating, nausea and vomiting, flushed skin, rapid breathing, racing heart rate, and headache. You should seek immediate medical attention and stop phyiscal activity, drink water or a sports drink, and get to a cool place.</p>
    <br>
    <p>Visit https://www.mayoclinic.org/diseases-conditions/heat-exhaustion/symptoms-causes/syc-20373250 for more information.</p>
    <br>
    <br>
    <br>
    <p>We are not medical professionials, seek medical attention if you need it and listen to your doctor!</p>
  </body>
</html>