<!DOCTYPE HTML>

<html>
  <head>
    <title>Heat Effects Results</title>
  </head>
  
  <body>
    <h1>Heat Effects Results</h1>
    <h3>It looks like you may have heatstroke.</h3>
    <p>Based on the program's tabulatuons, it seems like you might have heatstroke. Symptoms of heatstroke include: high body temperature, altered mental state or behavior, alteration in sweating, nausea and vomiting, flushed skin, rapid breathing, racing heart rate, and headache. You should seek immediate medical attention and stop phyiscal activity, drink water or a sports drink, and get to a cool place.</p>
    <br>
    <p>Click below to visit the Mayo Clinic. Seek medical attention!</p>
    <button class="button"> <a href=" https://www.mayoclinic.org/diseases-conditions/heat-stroke/symptoms-causes/syc-20353581 for more information.">MAYO CLINIC</a> </button></p>
    <br>
    <br>
    <br>
    <p>We are not medical professionials, seek medical attention if you need it and listen to your doctor!</p>
  </body>
</html>
<style>
  .button {
    background-color: white;
    color: #DDA0DD;
    padding: 15px  32px;
    font-size:24px;
    font-family: Serif;
    border: 5px solid #DDA0DD;
  }
   body {
    background-color: #E5F2FF
  }
  h1 {
    color: #DDA0DD;
    font-family: fantasy
  }
  h3 {
    color: #DAA520;
    font-family: american typewriter;
  }
  p {
    color: #DAA520;
    font-family: american typewriter;
    font-size: 18px;
  }
</style>